header{
    color: #deb992;
    text-align: center;
    padding-bottom: 6px;
    background-color: #051622;
    text-align: center;
    font-stretch: extra-expanded;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #1ba098;


}

#container{
    border-style: solid;
    display: grid;
    height: 90vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-color: #deb992;
    border: 100px 100px;
}


.row{
    border-style: solid;
    grid-area: auto;
    background-color: white;
    border-color:#deb992;
}


.draw{
    /* background-color:indigo; */
    
}

.removeDraw{
    background-color: white;
}
body{
    margin: 0;
}

.hide{
    visibility: hidden;
}
.btn{
    
    margin-top: .5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button{
    color: white;
    width: 300px;
    height: 30px;
    background-color: #051622;
    border-color: #deb992;
}